[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
emd = "*"
ipython = "*"
pyedflib = "*"
scikit-learn = "*"
biosppy = "*"
pyhrv = "*"
dtw-python = "*"
vmdpy = "*"
pywavelets = "*"
emd-signal = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
